.feedback-background-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../../../../background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 40px;
}