.announcement-details-card{
    background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent */
    backdrop-filter: blur(5px);           /* Subtle blur */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Thin white "ghost" border */
    padding: 30px;
    line-height: 1.8; 
    width: 400px;
    border-radius: 10px;  
    margin-top: 20px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.announcement-details-card:hover {
    transform: translateY(-5px); /* Lifts up slightly when hovered */
    background: rgba(0, 0, 0, 0.7);
}

.announcement-description{
    color: #cccccc;
}